/*ROOT*/
:root {
    --menu-bg-color: rgba(168, 168, 168, 0.8);
    --page-bg-color:#6d6d6d ;
    --menu-fg-color: #ffffff;
    --link-color: #ffffff;
    --accent-color: #636667;
    --main-fg-color: #ffffff;
    --medium-gap: 1rem;
}

/*HTML*/
html {
    background-color: var(--page-bg-color);
}

/*NAVBAR*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.nav-list {
  background: rgb(220, 92, 12);
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  padding: 1rem 0;
  border-radius: var(--radius);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: black;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

/*FOOTER*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1px;
    background-color: rgb(220, 92, 12);
    color: white;
}

.change a:hover{
    color: black;
    
}
.change a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 200ms ease-in;
  }

